body {
    margin: 0;
    
    font-family: "PT Sans-Regular", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.main-navigation {
    font-weight: bold;
    line-height: 26px;
    color: #000000;
}
.site-navigation {
    list-style: none;
}
.site-navigation a{
    color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}
.site-navigation-current a{
    color: #766357;
}
.site-navigation-current a:hover,
.site-navigation-current a:focus {
    color: #766357;
}

.about-city {
    line-height: 26px;
    color: #000000;
}
.about-city h2 {
    font-size: 21px;
    font-weight: bold;
}
.about-city p {
    color: #333333;
}
.advantage {
    color: #ffffff;
    background-color: #81b3d2
}

.advantage h2 {
    font-size: 21px;
    font-weight: bold;
}

.features-item {
    list-style: none;
    font-size: 21px;
    font-weight: bold;
}
.features-item p {
    font-size: 14px;
    font-weight: normal;
    color: #333333;
}

.attraction-item {
    list-style: none; 
    font-size: 21px;
    font-weight: bold;
}

.attraction-item p{
    font-size: 14px;
    font-weight: normal;
    color: #333333;
}

.search-hotel div {
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
}

.search-hotel p {
    line-height: 24px;
    color: #333333;
}

.search-hotel a {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #ffffff;
}

.button-search {
    width: 568px;
    height: 86px;
    background-color: #766357;
    border: none;
}
.button-search:hover,
.button-search:focus {
    background-color: #604e43; 
}
.button-search:active {
    color: rgba(255,255,255, 0.3);
    background-color: #503e33;
}
.modal-search-form {
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    width: 568px;
    height: 395px;
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
    background-color: #ffffff;
}

.date-check-in input,
.date-check-out input {
    width: 346px;
    height: 38px;
    background-color: #f2f2f2;
}

.date-check-in input:hover,
.date-check-out input:hover {
    background-color: #ebebeb;
}
.date-check-in input:focus,
.date-check-out input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

/* тут будет что-то с плюсами и минусами сменяющими цвета при наведении*/

.search {
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    width: 458px;
    height: 58px;
    text-transform: uppercase;
    background-color: #81b3d2;
}

.search:hover,
.search:focus {
    background-color: #669ec0;
}

.search:active {
    background-color: #5496bd;
    color: rgba(255,255,255,0.3);
    font-size: 21px;
}

.hashtag-link {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

.footer-social ul{
    list-style: none;
}

.footer-social a {
    width: 46px;
    height: 48px;
    fill: #FFF;
    background-color: #81b3d2;
}

.footer-social a:hover,
.footer-social a:focus {
    background-color: #669ec0;
}

.footer-social svg:active{
    opacity: 0.3;
    background-color: #5496bd;
}

p.footer-copyright {
    line-height: 26px;
    font-weight: normal;
}

.footer-copyright svg {
    width: 115px;
    height: 41px;
    fill: #231f20;
    background: #FFF;
}

.footer-copyright svg:hover, 
.footer-copyright svg:focus {
    fill: #81b3d2;
}

.footer-copyright svg:active {
    fill:#bdbbbc;
}

 /* css inner.html */
 
 /* это временный бэкграунд для фильтра*/
.filters fieldset {
    background-color: #666666;
}

 .infrastructure,
 .type-house,
 .count {
    font-weight: normal;
    color: #ffffff;
    text-align: left;
    }

.filters legend {
    font-size: 16px;
    font-weight: bold;
}

.infrastructure-item {
    font-size: 14px;
    font-weight: normal;
}

.show {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    color: #ffffff;
    text-align: left;
    text-transform: uppercase;
    width: 133px;
    height: 32px;
    border: 2px solid #ffffff;
    background: transparent;
}
/* тут нужно вставить чекбоксы on и off, но как пока не знаю*/


.catalog-item a:hover,
.catalog-item a:focus {
    color: #81b3d2;
}

.catalog-item a:active {
    color: rgba(0, 0, 0, 0.3);
}

.catalog-list {
    text-transform: uppercase;
    text-align: left;
    list-style: none;
}
.catalog-list a {
    font-size: 21px;
    color: #000000;
    font-weight: bold;
    line-height: 26px;
}
.catalog-list p {
    color: #333333;
}

.hotel-raiting {
    color: #666666;
}
.catalog .detailed {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    width: 110px;
    height: 27px;
    background-color: #81b3d2;
}
.catalog .booking {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    width: 142px;
    height: 27px;
    background-color:#766357;
}

a.detailed:hover,
a.detailed:focus {
    background-color: #669ec0;
}

.catalog .detailed:active {
    color: rgba(255,255,255, 0.3);
    background-color: #5496bd;
}

a.booking:hover,
a.booking:focus {
    background-color: #604e43;
}

a.booking:active {
    color: rgba(255,255,255, 0.3);
    background-color: #503e33;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


/* ----- Сеточные стили -----*/

/*навигация*/
.main-header {
    max-width: 1200;
    max-height: 56px;
    margin: 0 auto;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
}

li {
    width: 239px;
    height: 56px;
    padding: 12px;
    margin: 0 auto;
}

li:nth-child(1),
li:nth-child(2) {
    text-align: left;
}

li:nth-child(3),
li:nth-child(4) {
    text-align: right;
}

/* бэкграунд*/

.background-photo {
    width: 1200px;
    height: 773px;
    margin: 0 auto;
    background: url("../img/background-photo.jpg") no-repeat;
}

.intro-welcome {
    width: 459px;
    height: 353px;
    background: url("../svg-sedona/intro-welcome.svg")no-repeat;
    background-position: center center;
}

.intro-mask {
    width: 1201px;
    height: 59px;
    background: url("../svg-sedona/intro-mask.svg") no-repeat;
}




