body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans-Regular", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.container {
    min-width: 768px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    box-shadow: 0 -5px 9px 2px #dbdbdb;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.main-header {
    position: relative;
    max-width: 1200;
    max-height: 56px;
    margin: 0 auto;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.main-navigation {
    font-weight: bold;
    line-height: 26px;
    color: #000000;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;

    list-style: none;
}
.site-navigation a{
    display: block;

    color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}
.site-navigation-current a{
    color: #766357;
}
.site-navigation-current a:hover,
.site-navigation-current a:focus {
    color: #766357;
}

.site-navigation ul {
    margin: 0;
    padding: 0;
}

.site-navigation li {
    display: inline-block;
    min-height: 56px;
    padding-top: 17px;
    margin: 0 auto;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
    text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
    text-align: right;
}

.main-pic {
    position: relative;
    height: 450px;
    padding-top: 61px;
    background: url("../img/background-photo.jpg") no-repeat;
    background-size: cover;
}

.main-pic img {
    display: block;
    width: 459px;
    height: 353px;
    margin: 0 auto;
}

.main-pic::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    display: block;
    width: 100%;
    height: 59px;
    background: url("../svg-sedona/intro-mask.svg") no-repeat;
    background-size: 100% 59px;
}


/* переделка в html по-другому
.background-photo {
    padding: 100px 0;
    text-align: center;
    width: 100%;
    background: url("../img/background-photo.jpg") no-repeat;
    background-size: cover;
    background-position: 0px -80px;
}

.intro-welcome {
    display: block;
    width: 459px;
    height: 353px;
    margin: 0 auto;
    
}

.background-photo::after {
    content: "";
    position: absolute;
    bottom: 88px;
    left: 0;
    display: block;
    height: 70px;
    background: url("../svg-sedona/intro-mask.svg") no-repeat;
    background-size: cover;
  }
*/

/* ---------------Преимущества---------------*/
.about-city {
    padding: 0;
    margin-top: -17px;
    line-height: 26px;
    color: #000000;
}
.about-city .about-city-top {
    font-size: 21px;
    font-weight: bold;
}

.about-city .about-city-desc {
    color: #333333;
}

.about-city-top {
    padding-top: 55px;    
    padding-left: 360px;
    padding-right: 360px;
}

.about-city-desc {
    margin-top: 38px;
    padding-bottom: 45px;
}

.advantage-city {
    display: flex;
    max-height: 254px;
    color: #ffffff;
    background-color: #81b3d2;
}


.description-city {
    max-width: 280px;
    min-height: 145px;
    text-align: center;
    padding: 20px 60px 30px 70px;
}

.description-city h2 {
    font-size: 21px;
    font-weight: bold;
}

.description-city p{
    text-align: center;
}

.city-number {
    padding: 20px;
}



/*------------------Особенности -------------------*/
    
.features-item {
    list-style: none;
    font-size: 21px;
    font-weight: bold;
}
.features-item p {
    font-size: 14px;
    font-weight: normal;
    color: #333333;
}



.features {
    margin-bottom: 85px;
}

.features-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.features-item {
    width: 285px;
    
    text-align: center;
}

.features-item p {
    margin: 20px 10px;
}


/* ---------------------Мост дьявола--------------*/


.advantage-bridge {
    display: flex;
    max-height: 253px;
    color: #ffffff;
    background-color: #81b3d2;
    
}

.description-bridge {
    max-width: 300px;
    max-height: 140px;
}

.description-bridge h2 {
    font-size: 21px;
    font-weight: bold;
}

.bridge-number {
    padding: 20px;
}


/* -----------------------Достопримечательности-------*/

.attractions {
    max-height: 256px;
    margin-bottom: 50px;
    background-color: #eeeeee;
}

.attractions-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.attraction-item {
    max-width: 210px;
    text-align: center;
    vertical-align: ;
    padding: 50px 70px 65px 70px;

    list-style: none; 
    font-size: 21px;
    font-weight: bold;
}

.attraction-item p{
    font-size: 14px;
    font-weight: normal;
    color: #333333;
}

.attractions .road {
    max-width: 260px;
}

.square-number,
.road-number,
.tourists-number {
    padding: 20px;
}


/*-------------------------Поиск отеля---------------------*/


.search-hotel .interest {
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    max-width: 434px;
    min-height: 96px;
    padding-left: 383px;
    padding-right: 383px;
}

.interest p {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    padding-bottom: 52px;
    color: #333333;
}

.search-hotel a {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #ffffff;
    padding: 35px 140px 33px 140px;

}

.button-search {
    width: 568px;
    background-color: #766357;
}
.button-search:hover,
.button-search:focus {
    background-color: #604e43; 
}
.button-search:active {
    color: rgba(255,255,255, 0.3);
    background-color: #503e33;
}

/*-------------ФОРМА ПОИСКА НА ГЛАВНОЙ СТРАНИЦЕ------------------*/


.modal-search-form {
    color: #000000;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    max-width: 568px;
    min-height: 395px;
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
    margin-top: 30px;
    margin-left: 316px;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter-item {
    width: 460px;
}



.date-check-in input,
.date-check-out input {
    width: 346px;
    height: 38px;
    background-color: #f2f2f2;
}

.date-check-in input:hover,
.date-check-out input:hover {
    background-color: #ebebeb;
}
.date-check-in input:focus,
.date-check-out input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

/* тут будет что-то с плюсами и минусами сменяющими цвета при наведении*/

.search {
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    width: 458px;
    height: 58px;
    text-transform: uppercase;
    background-color: #81b3d2;
}

.search:hover,
.search:focus {
    background-color: #669ec0;
}

.search:active {
    background-color: #5496bd;
    color: rgba(255,255,255,0.3);
    font-size: 21px;
}






/* -------------------начало стилизации футера---------------*/
.map {
    bottom: 0;
    left: 0;
    width: 100%;
}

.main-footer {
    padding: 30px 0;
    background: rgba(254, 254, 254, 0.9);
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    vertical-align: middle;
}

.hashtag {
    width: 136px;
    margin: 0;
    margin-left: 132px;
    margin-top: 18px;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
}


.footer-social {  
    width: 150px;
    text-align: center;
    margin-left: 256px;
    vertical-align: middle;

}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
    margin: 0 auto;
    padding: 0;
    
    list-style: none;
}

.button-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}


.footer-social a {
    width: 46px;
    height: 48px;
    fill: #FFF;
    background-color: #81b3d2;
}

.footer-social a:hover,
.footer-social a:focus {
    background-color: #669ec0;
}

.footer-social svg:active{
    opacity: 0.3;
    background-color: #5496bd;
}

.main-footer .footer-copyright {
    display: inline-block;
    line-height: 26px;
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    margin-left: auto;
}

.footer-copyright a {
    display: inline-block;
    width: 113px;
    height: 39px;
    margin-left: 8px;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
}

.footer-copyright svg {
    width: 115px;
    height: 41px;
    fill: #231f20;
    background: #FFF;
}

.footer-copyright svg:hover, 
.footer-copyright svg:focus {
    fill: #81b3d2;
}

.footer-copyright svg:active {
    fill:#bdbbbc;
}




 /* css inner.html */
 
 /* это временный бэкграунд для фильтра*/
.filters fieldset {
    background-color: #666666;
}

 .infrastructure,
 .type-house,
 .count {
    font-weight: normal;
    color: #ffffff;
    text-align: left;
    }

.filters legend {
    font-size: 16px;
    font-weight: bold;
}

.infrastructure-item {
    font-size: 14px;
    font-weight: normal;
}

.show {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    color: #ffffff;
    text-align: left;
    text-transform: uppercase;
    width: 133px;
    height: 32px;
    border: 2px solid #ffffff;
    background: transparent;
}
/* тут нужно вставить чекбоксы on и off, но как пока не знаю*/


.catalog-item a:hover,
.catalog-item a:focus {
    color: #81b3d2;
}

.catalog-item a:active {
    color: rgba(0, 0, 0, 0.3);
}

.catalog-list {
    text-transform: uppercase;
    text-align: left;
    list-style: none;
}
.catalog-list a {
    font-size: 21px;
    color: #000000;
    font-weight: bold;
    line-height: 26px;
}
.catalog-list p {
    color: #333333;
}

.hotel-raiting {
    color: #666666;
}
.catalog .detailed {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    width: 110px;
    height: 27px;
    background-color: #81b3d2;
}
.catalog .booking {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    width: 142px;
    height: 27px;
    background-color:#766357;
}

a.detailed:hover,
a.detailed:focus {
    background-color: #669ec0;
}

.catalog .detailed:active {
    color: rgba(255,255,255, 0.3);
    background-color: #5496bd;
}

a.booking:hover,
a.booking:focus {
    background-color: #604e43;
}

a.booking:active {
    color: rgba(255,255,255, 0.3);
    background-color: #503e33;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}





/*inner*/

/* лепим фон фильтра*/

.filter-background {
    padding: 100px 0;
    height: 562;
    text-align: center;
    width: 100%;
    background: url("../img/filter-background.jpg") no-repeat;
    background-size: cover;
    background-position: center; 
}

.filter-list {
    display: flex;
}

.infrastructure {
    display: inline-block;
}

.infrastructure-item {
    display: flex;
    flex-direction: column;
}


.type-house {
    display: inline-block;
   
}

.type-house-item {
    display: flex;
    flex-direction: column;
}







/*начало оформления стоимости суток*/
body {
  font-weight: 400;
  font-family: "PT Sans", Arial, sans-serif;

}

.filter-range {
  width: 330px;
  margin: 50px auto; /* для демо */

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
    top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
    position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
/*конец оформления стоимости суток*/


