body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans-Regular", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    box-shadow: 0px 5px 15px 0;   /*временно отключила*/
}


a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.main-header {
    max-height: 56px;
    margin: 0 auto;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.main-navigation {
    font-weight: bold;
    line-height: 26px;
    color: #000000;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;

    list-style: none;
}
.site-navigation a{
    display: block;

    color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}
.site-navigation-current a{
    color: #766357;
}
.site-navigation-current a:hover,
.site-navigation-current a:focus {
    color: #766357;
}

.site-navigation ul {
    margin: 0;
    padding: 0;
}

.site-navigation li {
    display: inline-block;
    min-height: 56px;
    padding-top: 17px;
    margin: 0 auto;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
    text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
    text-align: right;
}

.main-container {
    padding: 0;
    margin: 0;
    box-shadow: none;
}

.main-pic {
    position: relative;
    height: 450px;
    padding: 60px;
    background: url("../img/background-photo.jpg") 0px -80px no-repeat;
    background-size: cover;
}

.main-pic img {
    display: block;
    width: 459px;
    height: 353px;
    margin: 0 auto;
}

.main-pic::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    display: block;
    width: 100%;
    height: 59px;
    background: url("../svg-sedona/intro-mask.svg") no-repeat;
    background-size: 100% 59px;
}


/* ---------------Преимущества---------------*/
.about-city {
    margin: 0;
    padding: 0;
    line-height: 26px;
    color: #000000;
}
.about-city-top {
    font-size: 21px;
    font-weight: bold;
    padding: 60px 300px 0 300px;
}

.about-city-desc {
    color: #333333;
    padding: 40px 300px;
}


.advantage-city {
    display: flex;
    color: #ffffff;
    background-color: #81b3d2;
}


.description-city {
    width: 350px;
    text-align: center;
    padding: 40px 60px 0 60px;
}

.description-city h2 {
    font-size: 21px;
    font-weight: bold;
    letter-spacing: normal;
    padding: 0 50px;
    margin: 0;
}

.city-number {
    padding: 20px;
}

.description {
    margin: 0;
    padding: 0;
}

.photo-city {
    width: 800px;
    height: 256px;
}


/*------------------Особенности -------------------*/
    
.features-item {
    list-style: none;
    font-size: 21px;
    font-weight: bold;
}
.features-item p {
    font-size: 14px;
    font-weight: normal;
    color: #333333;
}



.features {
   
}

.features-list {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.features-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    padding: 160px 40px;
}

.icon-house {
    background-image: url("../svg-sedona/icon-house.svg");
    background-position: 162px 60px;
    background-repeat: no-repeat;
}

.icon-eat {
    background-image: url("../svg-sedona/icon-eat.svg");
    background-position: 162px 60px;
    background-repeat: no-repeat;
}

.icon-present {
    background-image: url("../svg-sedona/icon-present.svg");
    background-position: 162px 60px;
    background-repeat: no-repeat;
}


/* ---------------------Мост дьявола--------------*/


.advantage-bridge {
    display: flex;
    flex-direction: row-reverse;
    color: #ffffff;
    background-color: #81b3d2;
    
}

.description-bridge {
    width: 300px;        /*---------почему ширина блока не срабатывает тут? */
    padding: 0;
    margin: 0;
}

.description-bridge h2 {
    font-size: 21px;
    font-weight: bold;
    margin: 0;
}

.bridge-number {
    padding: 20px;
}

.photo-bridge {
    width: 800px;
    height: 244px;
}


/* -----------------------Достопримечательности-------*/

.attractions {
    background-color: #eeeeee;
}

.attractions-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.attraction-item {
    width: 400px;
    text-align: center;    
    padding: 55px 60px;
    list-style: none; 
    font-size: 21px;
    font-weight: bold;
}


.attraction-item p{
    font-size: 14px;
    font-weight: normal;
    color: #333333;

}

.number {
    padding: 20px;
}


/*-------------------------Поиск отеля---------------------*/

.search-hotel {
    display: flex;
    flex-direction: column;
}

.interest {
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    padding: 50px 0 0 0;
   
}

.interest p {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #333333;
    padding: 20px 300px;
}

.button-search {
    width: 568px;
    height: 86px;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #ffffff; 
    background-color: #766357;
    margin-left: auto;
    margin-right: auto;
}

.button-search p {
    padding-top: 10px;
}


.button-search:hover,
.button-search:focus {
    background-color: #604e43; 
}
.button-search:active {
    color: rgba(255,255,255, 0.3);
    background-color: #503e33;
}



/* ------------------------КАРТА----------------------------*/

.map {
    position: relative;
    width: 1200px;
    height: 593px;;
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;

}

.map  .main-footer {
    position: absolute;
    width: 100%;
    background: #FFF;
    opacity: 0.9;
    bottom: 0;

}


/* -------------------ФУТЕР ВТОРОЙ СТРАНИЦЫ---------------*/

.main-footer {
    padding: 0;
    margin: 0;
    opacity: 0.9;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.hashtag {
    width: 136px;
    height: 16px;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.24;
    text-align: center;
    color: #000000;
    padding-top: 60px;
}


.footer-social {  
    width: 150px;
    text-align: center;
    padding-top: 35px;
}

.footer-social ul {
    display: flex;
    justify-content: space-between;
    width: 150px;

    list-style: none;
}

.button-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}


.footer-social a {
    width: 46px;
    height: 48px;
    fill: #FFF;
    background-color: #81b3d2;
}

.footer-social a:hover,
.footer-social a:focus {
    background-color: #669ec0;
}

.footer-social svg:active{
    opacity: 0.3;
    background-color: #5496bd;
}

.footer-copyright {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    text-align: center;
    padding-top: 45px;
}

.footer-copyright p {
}

.footer-copyright svg {
    width: 115px;
    height: 41px;
    fill: #231f20;
    background: #FFF;
    padding: 8px;
}

.footer-copyright svg:hover, 
.footer-copyright svg:focus {
    fill: #81b3d2;
}

.footer-copyright svg:active {
    fill:#bdbbbc;
}

/*-------------МОДАЛЬНАЯ ФОРМА ПОИСКА НА ГЛАВНОЙ СТРАНИЦЕ--------*/



.modal-search-form {
    position: absolute;
    left: 30%; /* тут не пойму как выровнять под кнопку поиска */
    z-index: 1;
    color: #000000;
    background-color: #FFF;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    width: 568px;
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);

}

.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 55px 45px;
}

.filter-item {
    display: flex;

}

.date-check-in,
.date-check-out {
    font-size: 14px;
    padding-top: 5px;
}

.date-check-in {
    width: 112px;
   
}
.date-check-out {
    width: 112px;
    
}

.filter-item input {
    width: 346px;
    height: 38px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    border: none;
    padding: 12px 14px;
}

.filter-item input:hover {
    background-color: #ebebeb;
}

.filter-item input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.calendar {
    background-image: url("../svg-sedona/calendar.svg");
    background-position: 310px center;
    background-repeat: no-repeat;
    background-color: #cacaca;
}

.calendar:hover,
.calendar:focus {
    background-color: #000000;
}

.calendar:active {
    background-color: #81b3d2;
}


.visitors {
    display: flex;
    justify-content: space-between;
}

.adult {
    padding-right: 25px;
}

.children {
    padding-left: 52px;
    padding-right: 25px;
}

.box {
    display: flex;   
}

.plus,
.minus {
    font-size: 16px;
    color:grey;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    border: none;
    padding: 0;
    box-sizing: border-box;
}

.sum {
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    border: none;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
}

.plus:hover,
.minus:hover,
.plus:focus,
.minus:focus  {
    color: #000000;
}

.plus:active,
.minus:active  {
    color: #81b3d2;
}

.search {
    width: 458px;
    height: 58px;
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #81b3d2;
    box-sizing: border-box;
    border: none;
    padding: 0;
}

.search:hover,
.search:focus {
    background-color: #669ec0;
}

.search:active {
    font-size: 21px;
    color: rgba(255,255,255,0.3);
    background-color: #5496bd;
    
    
}








 /* ---------------------- inner.html ------------------------- */

                        /*Фильтр поиска*/

.filters {
    max-height: 250px;
    text-align: center;
    width: 100%;
    background: url("../img/filter-background.jpg") no-repeat;
    background-size: cover;
    background-position: center; 
}

 .filter-column {
    display: flex;
    justify-content: space-around;
    font-weight: normal;
    color: #ffffff;
    text-align: left;
    padding: 30px;
    }

 .filter-column h2 {
    font-size: 16px;
 }   

.filter-infrastructure {
    display: flex;
    flex-direction: column;
    width: 140px;
}

.infrastructure-item {
    font-size: 14px;
    font-weight: normal;
    padding: 0;
    text-align: left;
}

                /* отображение нестандартных чекбоксов
.infrastructure-item label {
    width: 32px; 
    height: 26px; 
    display: block; 
    position: relative; 
}

.infrastructure-item input[type="checkbox"] + span {
    position: absolute; 
   
    width: 100%; height: 100%;
    background: url("../svg-sedona/checkbox-on.svg") no-repeat; 
    cursor: pointer; 
    background-position: 0px 0;
}
*/



.filter-house {
    display: flex;
    flex-direction: column;
    width: 140px;
}

.house-item {
    text-align: left;
}

.filters legend {
    font-size: 16px;
    font-weight: bold;
}

/*---------------------- стоимостm суток----------------------*/


.filter-range {
    width: 330px;
    color: #ffffff;
    text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
    top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
    position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}


 /*---------------------------каталог отелей -------------------*/
.search-results {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #e5e5e5;
}

.title-line {
    display: flex;
    border-bottom: 2px solid #e5e5e5;
}

.title-line p {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    padding: 30px 70px;
}

.results-sort {
    display: flex;
    width: 370px;
    justify-content: space-between;
    padding: 40px;
    text-decoration: none;
    list-style: none;
}

.result-sort a:active {
    color: #81b3d2;
}



/*   отложила пока стрелки сортировки, не получается
.icon-up-dir {
    position: absolute;
    width: 11px;
    height: 10px;
    background-image: url("../svg-sedona/icon-up-dir.svg");
    background-repeat: no-repeat;
    background-position: 906px 40px;
   
}

.icon-down-dir {
    position: absolute;
    width: 11px;
    height: 10px;
    background-image: url("../svg-sedona/icon-down-dir.svg");
    background-repeat: no-repeat;
     background-position: 930px 40px;
  
}
*/
.catalog-list {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    text-align: left;
    list-style: none;    
}

.catalog-list a {
    font-size: 21px;
    color: #000000;
    font-weight: bold;
    line-height: 26px;
}

.catalog-list p {
    color: #333333;
}


.catalog-item-image {
    padding: 30px 30px 30px 70px;
}


.catalog-item {
    display: flex;
    border-bottom: 2px solid #e5e5e5;
}


.catalog-item a:hover,
.catalog-item a:focus {
    color: #81b3d2;
}

.catalog-item a:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotel-description {
    width: 255px;
    padding: 35px 250px 30px 0;
}

.raiting {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 110px;
    padding: 35px 70px 25px 250px;
}

.hotel-description .detailed {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    width: 110px;
    height: 27px;
    background-color: #81b3d2;
}
.hotel-description .booking {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    width: 142px;
    height: 27px;
    background-color:#766357;
}

a.detailed:hover,
a.detailed:focus {
    background-color: #669ec0;
}

.hotel-description .detailed:active {
    color: rgba(255,255,255, 0.3);
    background-color: #5496bd;
}

a.booking:hover,
a.booking:focus {
    background-color: #604e43;
}

a.booking:active {
    color: rgba(255,255,255, 0.3);
    background-color: #503e33;
}

.hotel-raiting {
    width: 110px;
    background-color: #f2f2f2;
    color: #666666;
    text-align: center;
    padding: 5px 10px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}







